.MainSection {
    display: flex;
    height: 480px;
    background-color: gainsboro;
    background-image: url('https://images.pexels.com/photos/1081223/pexels-photo-1081223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat:no-repeat;
    background-size:length;    
    background-position:center;
}

.MainSectionContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.Form {
    width: 40%;
}

input{
   text-align:center;
}