.UserProfilePanel {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}

#nome{

}

#fotoperfil{
    align-items: flex-start;
}

.UserProfileContainer {
    display: flex;
    height: 580px;
}