.UserProfilePanel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


#fotoperfil{
    align-items: flex-start;
   
}

.UserProfileContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 2%;
 
}
.Community{
    display: flex;
    flex-direction: column;
}


@media(min-width: 776px){
    .Community{
        display: flex;
        flex-direction: row;
    }

}