.OngContainer {
    height: 1000px;
}
.OngDetailContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    height: 800px;
    
}

.OngDetailHeaderContainer{
    height: 800px;
    background-color: transparent;
    background-image: url('https://cdn-images-1.medium.com/max/1200/1*W9cVjJDoxP2heVpIukbBGQ.jpeg');
    background-repeat:no-repeat;
    background-size:length;    
    background-position:center;
}

.OngDetailHeaderContentContainer {
    display: flex;
    flex: 1;
    height: 500px;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 64px;
    padding-left: 64px;
}

.OngNameLabel {
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.OngTagsContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color:transparent;
}

.OngDescriptionContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 64px;
    margin-bottom: 300px;
}

.RedesSociais{
    font-weight: bold;
    margin-left: 100px;
}