

.LoginFormContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 580px;
}

.LoginForm {
    min-width: 30%;
    max-width: 90%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.LoginFormInput {
    margin-top: 16px;
}

.FullScreenDiv {
  margin:0;
  height: 100%;
}