.input{
    width: 400px;
}

.form{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 20px;
}

h1{
    margin-bottom: 40px;
}