.GroupRegistrationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GroupRegistrationFormContainer {
    margin-top: 80px;
    min-width: 60%;
    max-width: 90%;
}

.GroupRegistrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}