.ContentSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 60px;
    padding: 8%;
    margin-top: 16px;
}

.Header {

}

.Content {
    margin-top: 24px;
}